<header>
  <img src="https://i.pinimg.com/originals/93/12/7e/93127e07cf093631d4c4a5cd51f2c34d.jpg" alt="" width="100%" height="300px">
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-2 texto-centrado">
			<h3>Conocenos</h3>
			<p>Somos una empresa de servicio de viajes. ¿Quieres conocer nuestros servicios?</p>
			<a href="">Conocenos</a>
		</div>
		<div class="col-lg-2 texto-centrado">
			<h3>Vuelos</h3>
			<p>Conoce nuestros vuelos</p>
			<a href="">Vuelos</a>
		</div>
		<div class="col-lg-2 texto-centrado">
			<h3>Hoteles</h3>
			<p>Busca hospedaje a tu medida</p>
			<a href="">Hoteles</a>
		</div>
		<div class="col-lg-2 texto-centrado">
			<h3>Autos</h3>
			<p>¿Quieres un modo de moverte? Consulta nuestros automoviles disponibles</p>
			<a href="">Autos</a>
		</div>
		<div class="col-lg-2 texto-centrado">
			<h3>Paquetes</h3>
			<p>¿Quieres conocer el precio por todo junto?</p>
			<a href="">Paquetes</a>
		</div>
		<div class="col-lg-2 texto-centrado">
			<a href="">Ayuda</a>
		</div>
	</div>
</div>