<div class="row">
	<div class="col-lg-4 text-center">
	<h4>¿Quienes somos?</h4>
	<p>Nosotros somos una empresa preocupada por tus intereces, proporcionamos los medios por los cuales podrás viajar, y disfrutar de tu estadia en tu lugar preferido.</p>
	</div>
	<div class="col-lg-4 text-center">
		<h4>¿Hasta donde llega nuestro servicio?</h4>
		<p>Tenemos viajes tanto nacionales como internacionales, afiliados a varias de las cadenas más reconocidas del país, así como internacionalmente</p>
	</div>
	<div class="col-lg-4 text-center">
		<h4> Historia</h4>
		<p>Mi familia y yo siempre hemos gozado de los viajes en familia, y de conocer nuevos horizontes, así que nos propusimos a fomentar los viajes a un precio accesible. Así surgió nuestro proyecto. Una forma de viaje de calidad, en la que constas de seguridad y tu economía no sufrirá.</p>
	</div>
	
	
</div>