<header>
	<img src="https://grupoconforsa.com/img/conocenos.jpg" alt="" width="100%">
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-4 text-center">
		<h4>Misión</h4>
		<p>Ofrecer un servicio personalizado de calidad y confiabilidad, a través de la buena atención de nuestro personal debidamente capacitado, diseñando viajes únicos, a precios accesibles, logrando superar las expectativas de nuestros clientes.</p>
		<img src="" alt="">
		</div>
		<div class="col-lg-4 text-center">
			<h4>Visión</h4>
			<p>Llegar ser una Agencia de Viajes reconocida en nuestra región, por la confianza y seguridad que le ofrecemos a nuestros clientes,  presentando innovadores servicios y asegurando una actividad turística estable, promoviendo un ambiente de buenas relaciones y obteniendo la mayor satisfacción de nuestros clientes.</p>
		</div>
		<div class="col-lg-4">
			<h4 class="text-center"> Valores</h4>
			<ul>
				<li>Amabilidad</li>
				<li>Calidad y excelencia</li>
				<li>Puntualidad</li>
				<li>Confiabilidad</li>
				<li>Diversión y trabajo en equipo</li>
				<li>Honestidad</li>
				<li>Innovacion e inspiració</li>
			</ul>
		</div>
		
		
	</div>
</div>